.board {
  display: inline-block;
  border: 3px solid #A2AADB;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.board-row {
  display: flex;
}

.board-row:nth-child(3n) {
  border-bottom: 2px solid #C0C9EE;
}

.board-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
