.board {
  display: inline-block;
  border: 3px solid #DC143C;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.board-row {
  display: flex;
}

.board-row:nth-child(3n) {
  border-bottom: 3px solid #DC143C;
}

.board-row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}